.fragment-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.styled-div-wrapper {
  display: flex;
  flex-direction: column; /* Important pour que le bloc de code apparaisse en dessous */
  flex: 1;
  min-width: 200px;
}

.code-button,
.code-button-dark,
.remove-fragment {
  height: fit-content;
  margin-top: 10px;
}
.remove-fragment {
  position: absolute;
  top: 125px;
  right: 100px;
  margin-left: 5px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px 6px;
  width: 20px;
}
.code-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.code-button {
  border: none;
  background-color: #9a48d0;
}
.code-button-dark {
  border: none;
  background-color: #333333;
}
.code-appear {
  max-width: 100%;
  background-color: white;
  color: #333333;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.code-appear-dark {
  max-width: 100%;
  background-color: #b288c0;
  color: #333333;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.dark-button {
  position: absolute; /* Positionnement absolu */
  top: 60px;
  right: 20px; /* 20px depuis la droite */
  padding: 10px;
  background-color: #b288c0;
  color: black;
  border-radius: 10px;
  width: 5rem;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
